
        text{
            float: left;
            width: 100%;
        }
            * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Courier New', Courier, monospace;
            padding: 10px;
            background-color: #eee;
        }
        line{
            border: 0;
            border-top: 2px dashed ;
        }
        header {
            padding: 30px;
            text-align: center;
            background: white;
        }

        nav {
            overflow: hidden;
            background-color: lightblue;
        }

        nav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav a:hover {
            color: black;
            background-color: rgb(0, 183, 255);
        }

        .leftcolumn {   
            float: left;
            width: 75%;
        }

        .rightcolumn {
            float: left;
            width: 25%;
            background-color: #f1f1f1;
            padding-left: 20px;
        }

        img {
            background-color: white;
            width: 20%;
            padding: 20px;
            text-align: center;
        }

        .card {
            text-align: center;
            background-color: white;
            padding: 20px;
            margin-top: 20px;
        }

        main:after {
            content: "";
            display: table;
            clear: both;
        }

        footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
        }

        @media screen and (max-width: 1024px) {
            .leftcolumn, .rightcolumn {   
                width: 100%;
                padding: 0;
            }
        }   

        @media screen and (max-width: 512px) {
            nav a {
                float: none;
                width: 100%;
            }
        }